.exhibition-area {
    flex: 0.8; 
    background-color: #fcfcfc;
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

.table{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: aquamarine;
  cursor: pointer;
}
  