.add-relation {
    padding: 10px;
    max-width: 400px;
    margin: auto; 
  }
  
  .input {
    width: calc(100% -20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid thin #ccc;
  }  