.add-relation {
  padding: 30px; 
  max-width: 80%; 
  margin: auto; 
  background-color: #f9f9f9; 
  border-radius: 12px; 
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);  
}

.add-relation .input {
  width: calc(100% - 24px);
  padding: 12px; 
  margin-bottom: 15px; 
  border-radius: 8px; 
  border: none; 
  background-color: #fff; 
  box-shadow: inset 0px -1px #ccc; 
}

.add-relation .button {
   width: 100%; 
   padding: 12px; 
   margin-top: 15px; 
   background-color: #007bff; 
   color: white; 
   border: none; 
   border-radius: 32px; 
   cursor: pointer; 
   transition: .3s ease all; 
}
