@import "./AddRelation.css";
@import "./App.css";
@import "./ColumnArea.css";
@import "./ExhibitionArea.css";
@import "./InsertionArea.css";
@import "./InsertTable.css";
@import "./TableArea.css";

*{
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #f8f9fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}
